<div id="nav-border" class="container">

    {{ $image := .Resources.GetMatch "sevenobelisks.com/so_logo_static.png" }}
    {{ with $image }}
      <img src="{{ .RelPermalink }}" width="{{ .Width }}" height="{{ .Height }}">
    {{ end }}


    <h1 class="title">{{ .Site.Title }}</h1>
    <hr>
    <nav id="nav" class="nav_styles">
        {{ range .Site.Menus.main }}
        <a class="nav-link" href="{{ .URL }}">
        {{ $text := print .Name | safeHTML }}
        {{ $text }}
        </a>
        {{ end }}
    </nav>

</div>