<div id="nav-border" class="container">

    {{ $image := resources.GetRemote "https://sevenobelisks.com/so_logo_static.png" }}
    
    <img src="{{ $image.RelPermalink }}" width="{{ $image.Width }}" height="{{ $image.Height }}">

    <h1 class="title">{{ .Site.Title }}</h1>
    <hr>
    <nav id="nav" class="nav_styles">
        {{ range .Site.Menus.main }}
        <a class="nav-link" href="{{ .URL }}">
        {{ $text := print .Name | safeHTML }}
        {{ $text }}
        </a>
        {{ end }}
    </nav>

</div>