body {
    background-color:#EEEEEE;
    font-family: Georgia, sans-serif;
    color: #444;
    margin:40px auto;
    max-width:650px;
    line-height:1.8;
    font-size:16px;
    padding:0 15px;
}

/*Classes*/

.nav_styles{
    padding-bottom:15px;
}

.nav-link{
    padding-right:20px;
}

/*IDs*/

#line{    
    color:#bbb;
    border:none;
    height:1px;
    background-color:#bbb;
    margin-bottom:10px;
    margin-top:10px;;
}

/* Header Styles */

h1 {
    color: #444; 
    font-size: 30px;
    margin-top:-10px; 
    margin-bottom:0px;
    font-weight: 10;
    font-variant: small-caps;
    letter-spacing:2px;
    }
    
h2{
    color:#444;
    font-size:16px;
    margin-top:10px;
    margin-bottom:10px;
    font-weight:10;
    font-style:italic;
    }
    
h3{
    color:#444;
    font-size:22px;
    font-variant:small-caps;
    margin:10px 0 0 0;
    }
    
h4{
    color: #444;
    font-size:18px;
    font-weight:600;
    margin-top:10px;
    margin-bottom:5px;
    }
    
h5{
    color:#444;
    font-size:16px;
    margin-top:10px;
    margin-bottom:2px;
    font-variant:small-caps;
    }

/* Page Styles */    

p {
    color: #444; 
    size: 12px;
    }
  
/*Image Styles*/

img {
    margin-top:10px;
    margin-bottom:10px;
    }

/*List Styles*/ 

ul{
    padding-left:20px;
    margin-left:0;
    }
    
li{
    padding-bottom:10px;
    }

/*Line Styles*/

hr{
    color:#444;
    border:none;
    height:1px;
    background-color:#444;
    margin-bottom:10px;
    margin-top:10px;;
    }

hr.line2{
    color:#bbb;
    border:none;
    height:1px;
    background-color:#bbb;
    margin-bottom:10px;
    margin-top:10px;;
    }

/*Link Styles*/    

 /* unvisited link */

a:link {
  color: #444;
}

a.nav-link:link {
    color: #444;
    text-decoration: none;
  }

/* visited link */
a:visited {
  color: #693f7c;
}

a.nav-link:visited {
    color: #444;
  }

/* mouse over link */
a:hover {
  color: #555;
}

a.nav-link:hover {
    color: #555;
  }

/* selected link */
a:active {
  color: #444;
}

a.nav-link:active {
    color: #444;
  } 
