body {
    background-color:#191919;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #f5f5f5;
    margin:40px auto;
    max-width:650px;
    line-height:1.6;
    font-size:16px;
    padding:0 15px;
}

/*Classes*/

.nav_styles{
    padding-bottom:15px;
    font-variant: small-caps;
}

.nav-link{
    padding-right:20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.metadata_container{
    display: flex; 
    justify-content: space-between;
    padding:0 0 0 0;
    margin:0 0 0 0;
}

.project_box_ecom{
    padding:25px;
    border:1px solid #FF10F0;
    color:#f5f5f5;
    margin-top:20px;
    margin-bottom:40px;
    position:relative;
}


.project_box_web{
    padding:25px;
    border:1px solid #60FF00;
    color:#f5f5f5;
    margin-top:20px;
    margin-bottom:40px;
    position:relative;
}

.project_box_social{
    padding:25px;
    border:1px solid #00DFFF;
    color:#f5f5f5;
    margin-top:20px;
    margin-bottom:40px;
    position:relative;
}

.project_left{
    float:left;
    width:100px;
}

.project_right{
    margin-left:100px;
}

.clear{
    clear:both;
}

/*IDs*/

#line{    
    color:#bbb;
    border:none;
    height:1px;
    background-color:#bbb;
    margin-bottom:10px;
    margin-top:10px;;
}

/* Header Styles */

h1 {
    font-size: 40px;
    margin-top: -10px; 
    margin-bottom: 10px;
    font-weight: 600;
    font-variant: small-caps;
    letter-spacing:3px;
    color:#DFFF00;
}
    
h2{
    font-size:20px;
    margin-top:10px;
    margin-bottom:10px;
    letter-spacing:2px;
}
    
h3{
    font-size:28px;
    margin:10px 0 10px 0;
    letter-spacing:1px;
    }
    
h4{
    font-size:26px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight:100;
    margin-top:40px;
    margin-bottom:5px;
    letter-spacing:1px;
}

h5{
    font-size:24px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top:0px;
    margin-bottom:2px;
    padding-top:15px;
    font-variant:small-caps;
    letter-spacing:2px;
    color:#DFFF00;
    }

h6{    
    font-size:24px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-variant:small-caps;
    letter-spacing:2px;
    color:#DFFF00;
    padding:0;
    margin:0;
    }

/* Page Styles */    

p {
    font-size: 22px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    }

p.left{
    flex-basis:49.5%;
    font-size:17px;
}
    
p.right{
    flex-basis:49.5%;
    text-align:right;
    font-size:17px;
    font-style: italic;
}

p.projectp{
    color:#f5f5f5;
    margin-top:10px;
    margin-bottom:0px;
    padding:0;
}

p.webicon_ecom{
    font-size:55px;
    padding:10px;
    line-height:1;
    margin:0px;
    color:#FF10F0;
}

p.webicon_web{
    font-size:55px;
    padding:10px;
    line-height:1;
    margin:0px;
    color:#60FF00;
}

p.webicon_social{
    font-size:55px;
    padding:10px;
    line-height:1;
    margin:0px;
    color:#00DFFF;
}
  
/*Image Styles*/

img {
    margin-top:10px;
    margin-bottom:10px;
    }

/*List Styles*/ 

ul{
    padding-left:20px;
    margin-left:20px;
    }
    
li{
    font-size: 22px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-bottom:10px;
    list-style-type:disc;
    padding-left:5px;
    }

/*Line Styles*/

hr{
    border:none;
    height:1px;
    background-color:#bbb;
    margin-bottom:10px;
    margin-top:10px;;
}

hr.line2{
    border:none;
    height:1px;
    background-color:#444;
    margin-bottom:10px;
    margin-top:10px;;
}

/*Link Styles*/    

 /* unvisited link */

a:link {
  color: #f5f5f5;
}

a.nav-link:link {
    color: #f5f5f5;
    text-decoration: none;
}

/* visited link */

a:visited {
  color: #DFFF00;
  text-decoration-line: line-through;
}

a.nav-link:visited {
    color: #f5f5f5;
  }

/* mouse over link */
a:hover {
    color: #DFFF00;
}

a.nav-link:hover {
    color: #DFFF00;
  }

/* selected link */
a:active {
    color: #f5f5f5;
}

a.nav-link:active {
    color: #f5f5f5;
} 
